<a href="https://colab.research.google.com/github/bigboyfreezy/Sentiment-analysis-projects/blob/main/spam_not.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
data = pandas.read_csv('spam.csv', encoding = "ISO-8859-1")
data.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [ ]:
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [ ]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(data['v2'],data['v1'],test_size=0.3,random_state=42)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(lowercase=True,stop_words='english')
X_new_train = vectorizer.fit_transform(X_train)

In [ ]:
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

model = SGDClassifier()
model.fit(X_new_train,Y_train)

SGDClassifier()

In [ ]:
X_new_test = vectorizer.transform(X_test)
prediction = model.predict(X_new_test)
print(data.groupby('v1').size())

v1
ham     4825
spam     747
dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy is",accuracy_score(Y_test,prediction))

Accuracy is 0.979066985645933

In [ ]:

new_data_vectorized = vectorizer.transform(['Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030'])
Outcome=model.predict(new_data_vectorized)
Outcome

array(['spam'], dtype='<U4')