<a href="https://colab.research.google.com/github/bigboyfreezy/Sentiment-analysis-projects/blob/main/Tweets_Analysis_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
data = pandas.read_csv("https://modcom.co.ke/datasets/Tweets.csv")
data

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [ ]:
# Check for empties
data.isnull().sum()
#Text and airline sentiments,no empties

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5462
negativereason_confidence        4118
airline                             0
airline_sentiment_gold          14600
name                                0
negativereason_gold             14608
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [ ]:
data.dtypes
#the data types are correct

tweet_id                          int64
airline_sentiment                object
airline_sentiment_confidence    float64
negativereason                   object
negativereason_confidence       float64
airline                          object
airline_sentiment_gold           object
name                             object
negativereason_gold              object
retweet_count                     int64
text                             object
tweet_coord                      object
tweet_created                    object
tweet_location                   object
user_timezone                    object
dtype: object

In [ ]:
from imblearn.over_sampling import ADASYN, SMOTE, RandomOverSampler
smt = SMOTE(random_state=777, k_neighbors=1)
X_SMOTE, y_SMOTE = smt.fit_sample(data['Text'], data[])
pd.DataFrame(X_SMOTE.todense(), columns=tv.get_feature_names())

In [ ]:
# split to 30% for testing 70% for training
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(data['text'], data['airline_sentiment'],
                                                                    test_size = 0.3,
                                                                    random_state=42)

In [ ]:
# remove stop words  from X_train or X_test
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(lowercase = True, stop_words = 'english')

X_train_new = vectorizer.fit_transform(X_train)
X_train_new

In [ ]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC

model = LogisticRegression()
model.fit(X_train_new, Y_train)

In [ ]:
# test the model, first vectorize
X_test_new = vectorizer.transform(X_test)
predictions = model.predict(X_test_new)
print(data.groupby('airline_sentiment').size())

In [ ]:
#Test accuracy
from sklearn.metrics import accuracy_score
print('Accuracy ', accuracy_score(Y_test, predictions))

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, predictions))

In [ ]:
# pull a database, csv, from api
newdata = pandas.read_csv("https://modcom.co.ke/datasets/sample.csv")
newdata

In [ ]:
# Use the model to predict above clients sentiments
newdata_vectorized = vectorizer.transform(newdata['Text'])
outcome = model.predict(newdata_vectorized)
print('airline_sentiment',  outcome)
#Improve the model to atleast 85%
outcomedf = pandas.DataFrame(outcome, columns=['Sentiment'])
outcomedf

In [ ]:
results = newdata.merge(outcomedf, left_index=True,right_index=True)
results

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('seaborn')
results.groupby('Sentiment').size().plot(kind='pie', autopct = '%1.1f%%')

In [ ]:
negatives = results[results['Sentiment'] == 'negative']
negatives

positives = results[results['Sentiment'] == 'positive']
positives

neutral = results[results['Sentiment'] == 'neutral']
neutral

In [ ]:
# create a CSV with the negatives only
negatives.to_excel("sample_data/negatives.xls")
positives.to_excel("sample_data/positives.xls")
neutral.to_excel("sample_data/neutral.xls")